JWT_SECRET_KEY=aLRG1BH1EeJQOsDtkcL0U7Oyli1ljqxGLpyFNQi1sP3LpzH0Yw19POImYFp4p3N
OUTER_APP_NAME=university.app.edu
OUTER_APP_KEY=qwertfdsazxcv

MONGODB_URI=mongodb://localhost:27017/blockchain-voting

ADMIN_PUBLIC_KEY=