LOGS_PATH=logs
JWT_SECRET_KEY=aLRG1BH1EeJQOsDtkcL0U7Oyli1ljqxGLpyFNQi1sP3LpzH0Yw19POImYFp4p3N

OUTER_APP_NAME=university.app.edu
OUTER_APP_KEY=qwertfdsazxcv

MONGODB_URI=mongodb://localhost:27017/blockchain-voting

OAUTH_APP_URL=http://university.app.edu:8080
OAUTH_APP_ID=1
OAUTH_APP_SECRET=dyCP5s1wW6QGu6z7kg9nRYxNA9tyOcysO01A2dGc

ADMIN_PUBLIC_KEY_PATH=admin-key.txt

REDIS_URL=127.0.0.1
REDIS_PORT=6379
REDIS_PASS=